@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

.header {
  background-color: #181818;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.header-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 196.19%;
}

.title-section {
  height: 60px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 196.19%;
  color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  min-height: 378px;
  background-image: url("assets/hero.svg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(24, 24, 24, 0.6);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  width: 70vw;
}

.hero-text {
  max-width: 460px;
  color: #f9f9f9;
  font-family: "Montserrat";
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.hero-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 196.19%;
  margin-top: 19px;
}

.main-content {
  margin-top: 58px;
  width: 100%;
  text-align: center;
}

.main-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 196.19%;
  color: #181818;
}

.main-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 196.19%;
}

.cards {
  display: grid;
  gap: 39px;
}

.main-container {
  margin-top: 59px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1461px) {
  .cards {
    padding-right: 7vw;
    padding-left: 7vw;
    grid-template-columns: repeat(4, 280px);
  }
}

@media (max-width: 1460px) {
  .cards {
    padding-right: 7vw;
    padding-left: 7vw;
    grid-template-columns: repeat(2, 280px);
  }
}

@media (max-width: 720px) {
  .cards {
    padding-right: 7vw;
    padding-left: 7vw;
    grid-template-columns: repeat(1, 300px);
  }
}
.card {
  width: 300px;
  height: 302px;
  background-color: #ebe9ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 100px;
  height: 60px;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 196.19%;
  color: #f9f9f9;
}
